*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif; 
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden; /*Para que todo lo que ss desborde se oculte*/
    margin: auto;
    padding: 60px 0; /*Esto con el fin de que siempre halla espacion dentro de los elemntos*/
}

header{
    height: 70vh; /*Esto provoca el tamaño la variacion del tamaño de imagen de cabecera*/
    background-image: linear-gradient(to right, rgba(134, 143, 150, 0.396) 0%, rgba(89, 97, 100, 0.39) 100%), url(/img/Fondo.jpg); /*Casi toda la linea fue copiada de webgradients.com*/
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;   
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Esto con el fin de colocar el texto uno encima de otro*/
    color: #fff;
}
.menu{
    position: fixed; /*Que este fijo en toda la pagina */
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer; /*Que se ponga la manito cada ver que estemos sobre el boton  */ 
    border-radius: 10px;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5); /*Esta linea me da sombreado al boton menu */
}
.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; /*Indica que ocupara el 30% del ancho de la pagina */
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /*Reparte el espacio verticalmente de las palabras */
    align-items: center;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    transform: translate(110%); /*Esconde la barra del menu */
}
.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}
.titulo{
    font-size: 60px; /*Tamaño de la fuente del titulo*/
    margin-bottom: 15px;
}
.copy{
    font-weight: 300;
    font-size: 25px;
}
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-habilidades{
    display: flex;
    justify-content: space-evenly; /*Reparte el espacio verticalmente de las palabras */
    align-items: center;
    flex-wrap:wrap; /*Si no cabe en la misma linea sigue abajo*/
}
.contenedor-habilidades img{
    width: 40%;
}
.listado-habilidades{
    width: 45%;
    
} 
.service{
    margin-bottom: 20px;
}
.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number{
    display: inline-block; /*Para poder darle un width y un hight*/
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right, rgb(134, 143, 150) 0%, rgb(89, 97, 100) 100%);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700; 
    line-height: 30px; /*Centra verticalmente texto e icono*/
    margin-right: 5px; /*Separa el number con el titulo de h3 */
}
.galeria{
    background: #f2f2f2;
}
.contenedor-portafolio{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    width: 20%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5);
    cursor: pointer;
}
.imagen-light{
    position: fixed;
    background: rgba( 0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%); /* Oculta la immagen de portafolio*/
    transition: transform .2s ease-in-out;

}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 25%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    width: 40px;
    right: 15px;
    cursor: pointer;
}

.download{
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly; /*Tienen un espacio equitativo entre ellos*/
    align-items: center;
    flex-wrap: wrap; /*Por si uno no cabe se coloca abajo */ 
}
.cont-experts{
    width: 30%;
    text-align: center;
    margin-bottom: 15px;
}
.cont-experts img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.n-experts{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*Footer*/
footer{
    background: #9f8ad0;
    padding-bottom: 0.1px; /*El padding o borde son las que intervienen en colapso de imagenes*/
}
.footer-content{
    display: flex;
    justify-content: space-between; /*Para que los elemento pongan uno al lado del otro en las esquinas*/
    align-items: center;
    flex-wrap: wrap; /*Si un elemento ya no entra se desplaza hacia abajo*/
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{ 
    font-weight: 500;
}
.social-media{ /*La caja que contiene los iconos*/
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff; /*Cuando paso sobre el icono se pone de color blanco*/
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
 
@media screen and (max-width: 800px) {
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-habilidades img{ /* Aumenta el tamaño de mi imagen de habilidades*/
        width: 80%;
        margin-bottom: 40px;
    }
    .listado-habilidades{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 40%; 
    }
    .img-gallery{ /* Aumenta el tamaño de las imagenes de portafolio*/
        width: 45%;
    }
    .cont-experts{ /* Aumenta el tamaño de las imagenes de experto*/
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;/* Distribuir en el espacio las imagenes*/
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center; /* Centra el texto */
        width: 80%; /*Aumenta el espacio del texto */
        margin-bottom: 40px; /*Separa el contact us de las otros contenedores*/
         
    }
}
@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }
    .menu{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px; /*Reduce tamaño de letra */
    }
    .subtitulo{
        font-size: 30px; /*Reduce tamaño de letra */
    }
    .agregar-imagen{
        width: 60%;
    }
    .img-gallery{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }

}